:root {
  // All brand colors
  --color-brand-primary: #d30291;
  --color-brand-secondary: #2b60f5;
  --color-brand-tertiary: #ffffffa0;

  // All text colors
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffffc0;
  --color-text-tertiary: #272727;

  // All hover colors
  --color-hover-primary: #ffffff40;
  --color-hover-secondary: #ffffffd9;
}
